<div class="container-fluid" style="height: 100%;">
    <div class="row" style="background-color: white;height: 100%;">
        <div class="col-6" style="text-align: center; margin: auto;">
            <div>
                <h1 class="title">CRISTHIAN DAVID
                <span class="nombre">&#160;</span>
                </h1>
                <h1 class="title">HOYOS TROCHEZ<span class="apellido">&#160;</span></h1>
            </div>
        </div>
        <div class="col-6">
            <h1>Mundo</h1>
        </div>
    </div>
</div>

<datalist id="listaCiudad">
    <option>Cali</option>
    <option>Medellin</option>
</datalist>
