<div class="container-fluid" style="height: 100%;">
    <div class="row" style="background-color: yellow;height: 100%;">
        <div class="col-12" style="background-color:blueviolet; width: 60% !important; padding-top: 2rem;">
            <div class="input-group">
                <input list="listaCiudad" type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-light" type="button" id="button-addon2">
                    <app-icon-buscar></app-icon-buscar> 
                </button>
              </div>
        </div>


        <div class="col-6" style="background-color: black; text-align: center; margin: auto;">
            <div>
                <h1>hOLAS</h1>
            </div>
        </div>
        <div class="col-6">
            <h1>Mundo</h1>
        </div>
    </div>
</div>

<datalist id="listaCiudad">
    <option>Cali</option>
    <option>Medellin</option>
</datalist>
