h2{
    font-family: 'Impact';
    padding: 0px !important;
    margin: 0px !important;
}
.titulo{
    text-align: center;   
}

.menuBar{
    background-color: antiquewhite;
    padding: 1% 0px;
}

.centrarMedio{
    text-align: center;
    margin: auto;
}

button{
    border: none;
    background: none;
}


