<div class="container-fluid">
    <div class="row menuBar">
        <div class="col-2 titulo">
                <h2>Cristhian</h2>
                <h2>Hoyos</h2>
        </div>
        <div class="col-6"></div>
        <div class="col-1 centrarMedio">
            <button (click)="copyMessage()">
            <app-icon-copy></app-icon-copy>
            </button>
        </div>
        <div class="col-1 centrarMedio">
            <button>
               <app-icon-downloadcv></app-icon-downloadcv>
            </button>
        </div>
        <div class="col-1 centrarMedio">
            <button>
                <app-icon-send-email></app-icon-send-email>
            </button>
        </div>
        <div class="col-1 centrarMedio">
            <button>
                <app-icon-linked></app-icon-linked>
            </button>
        </div>
    </div>
</div>