h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.contenedor{
    height: 80%;
    position: absolute;
    width: 100%;
    display: table;
}

.centrar{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}