.black-snackbar{
    background-color: black;
    color: white;
    width: 80%;
    overflow: hidden;
}

.black-snackbar button{
    border-color: white;
    background-color: black;
    color: white;
}

@font-face {
    font-family: mogra;
    src: url(assets/font/Mogra-Regular.ttf) format("opentype");
  }