.black-snackbar{
    background-color: black;
    color: white;
    width: 80%;
    overflow: hidden;
}

.black-snackbar button{
    border-color: white;
    background-color: black;
    color: white;
}